/* You can add global styles to this file, and also import other style files */

/* Disable scrolling when in chat mode */
body.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}
